/vendor/
/composer.lock

/var/
/bin/
!bin/console
/config/secrets/
/public/bundles/

/node_modules/
/npm-debug.log
/yarn-error.log

.env.local
.env.*.local

.DS_Store
Thumbs.db

/.idea/
/.vscode/
*.sublime-project
*.sublime-workspace

*.log
*.sass-cache
*.swp
*.swo
*~
